/*
 * <license header>
 */

import React, { useState, useEffect } from 'react'
import { attach } from "@adobe/uix-guest"
import {
  Flex,
  Form,
  ProgressCircle,
  Provider,
  Content,
  defaultTheme,
  TextField,
  ButtonGroup,
  Button,
  Heading,
  View
} from '@adobe/react-spectrum'

import Spinner from "./Spinner"
<% if (extensionArea === 'actionBar') { %>
import { useParams } from "react-router-dom"
<% } %>
import allActions from '../config.json'
import actionWebInvoke from '../utils'

export default <%- functionName %> () {
  const [guestConnection, setGuestConnection] = useState()
  <% if (extensionArea === 'actionBar') { %>
  const fragmentId = useParams()
  
  if (!fragmentId) {
    console.error("fragmentId parameter is missing")
    return
  }
  <% } -%>

  useEffect(() => {
    (async () => {
      const guestConnection = await attach({ id: "custom-buttons-management" })

      setGuestConnection(guestConnection)
      setIsLoading(false)
    })()
  }, [])

  const onCancelHandler = () => {
    guestConnection.host.modal.close()
  }

  return (
    <Provider theme={defaultTheme} colorScheme={'light'}>
      <Content width="97%">
        <Text>Your modal content</Text>
        <ButtonGroup align="end" width="100%">
          <Button variant="primary" onClick={onCancelHandler}>Cancel</Button>
        </ButtonGroup>
      </Content>
    </Provider>
  )
}
