
# Package Directories
node_modules

# Dependency Management
package-lock.json

# App Builder
.env*
.aio

# Test Output
junit.xml

# IDE & Temp
.cache
.idea
.nyc_output
.vscode
coverage

# Parcel
.parcel-cache

# OSX
.DS_Store

# Yeoman
.yo-repository
